<div data-test-editor-post-status ...attributes>
    {{#if this.isSaving}}
        Guardando...
    {{else if @post.isSent}}
        Enviada a {{gh-pluralize @post.email.emailCount "member"}}
    {{else if (and @post.emailOnly @post.isScheduled)}}
        <time datetime="{{@post.publishedAtUTC}}" class="ml1 green f8" data-test-schedule-countdown>
            Será enviada a <GhRecipientFilterCount @filter={{@post.emailRecipientFilter}} />
            {{this.scheduledTime}}
        </time>
    {{else if (or @post.isPublished @post.pastScheduledTime)}}
        Publicada
        {{#if (or (eq @post.email.status "submitting") (eq @post.email.status "submitting"))}}
            y envianda a {{gh-pluralize @post.email.emailCount "member"}}
        {{else if (eq @post.email.status "submitted")}}
            y enviada a {{gh-pluralize @post.email.emailCount "member"}}
        {{/if}}
    {{else if @post.isScheduled}}
        <time datetime="{{@post.publishedAtUTC}}" class="ml1 green f8" data-test-schedule-countdown>
            Será publicada
            {{#if (and @post.emailRecipientFilter (not @post.email))}}
                y enviada a <GhRecipientFilterCount @filter={{@post.emailRecipientFilter}} />
            {{/if}}
            {{this.scheduledTime}}
        </time>
    {{else if @post.isNew}}
        Nueva publicación
    {{else}}
        Borrador
        {{unless @hasDirtyAttributes "- Guardado"}}
    {{/if}}
</div>