<div data-test-publishmenu-scheduled="true" ...attributes>
    <header class="gh-publishmenu-heading" data-test-publishmenu-header>Estar치 {{if @emailOnly "enviado" "publicado"}} en {{this.timeToPublished}}</header>
    <div class="gh-publishmenu-content">
        <section class="gh-publishmenu-section">
            <div class="gh-publishmenu-radio {{if (eq @saveType "draft") "active"}}" {{on "click" (fn this.setSaveType "draft")}}>
                <div class="gh-publishmenu-radio-button" data-test-publishmenu-draft-option></div>
                <div class="gh-publishmenu-radio-content">
                    <div class="gh-publishmenu-radio-label">Volver a borrador</div>
                    <div class="gh-publishmenu-radio-desc">No publicar</div>
                </div>
            </div>
            <div class="gh-publishmenu-radio {{if (eq @saveType "schedule") "active"}}" {{on "click" (fn this.setSaveType "schedule")}}>
                <div class="gh-publishmenu-radio-button" data-test-publishmenu-scheduled-option></div>
                <div class="gh-publishmenu-radio-content">
                    <div class="gh-publishmenu-radio-label">Programar para otro momento</div>
                    <GhDateTimePicker
                        @date={{@post.publishedAtBlogDate}}
                        @time={{@post.publishedAtBlogTime}}
                        @setDate={{this.setDate}}
                        @setTime={{this.setTime}}
                        @setTypedDateError={{@setTypedDateError}}
                        @errors={{@post.errors}}
                        @dateErrorProperty="publishedAtBlogDate"
                        @timeErrorProperty="publishedAtBlogTime"
                        @minDate={{this.minDate}}
                        @isActive={{eq @saveType "schedule"}}
                    />
                    <div class="gh-publishmenu-radio-desc">Establecer la fecha de publicaci칩n futura autom치tica</div>
                </div>
            </div>
        </section>
        {{#if @canSendEmail}}
            <section class="gh-publishmenu-section">
                <div class="gh-publishmenu-email">
                    {{#if @isSendingEmailLimited}}
                        <p>{{html-safe @sendingEmailLimitError}}</p>
                    {{else}}
                        <div class="gh-publishmenu-email-label pe-none">
                            <label class="gh-publishmenu-radio-label mb3 midgrey">Enviar por correo electr칩nico a</label>

                            <div class="form-group">
                                <GhMembersRecipientSelect
                                    @filter={{@recipientsFilter}}
                                    @disabled={{true}}
                                />
                            </div>
                        </div>
                    {{/if}}
                </div>
            </section>
        {{/if}}
    </div>
</div>