<div ...attributes>
    <header class="gh-publishmenu-heading" data-test-publishmenu-header>Listo para
        {{#if @canSendEmail}}
            <GhDistributionActionSelect
                @distributionAction={{@distributionAction}}
                @setDistributionAction={{@setDistributionAction}}
                data-test-distribution-action-select
            />
        {{else}}
            publicar
        {{/if}}
        esta publicación?
    </header>
    <section class="gh-publishmenu-content {{if this.disableEmailOption "no-border"}}">
        <div class="gh-publishmenu-section">
            <div class="gh-publishmenu-radio {{if (eq @saveType "publish") "active"}}" {{on "click" (fn this.setSaveType "publish")}}>
                <div class="gh-publishmenu-radio-button" data-test-publishmenu-published-option></div>
                <div class="gh-publishmenu-radio-content">
                    <div class="gh-publishmenu-radio-label">{{#if @emailOnly}}Enviar correo electrónico ahora{{else}}Publicarlo ahora mismo{{/if}}</div>
                    <div class="gh-publishmenu-radio-desc">{{#if @emailOnly}}Entregar esto inmediatamente{{else}}Publicar esta publicación inmediatamente{{/if}}</div>
                </div>
            </div>
            <div class="gh-publishmenu-radio {{if (eq @saveType "schedule") "active"}}" {{on "click" (fn this.setSaveType "schedule")}}>
                <div class="gh-publishmenu-radio-button" data-test-publishmenu-scheduled-option></div>
                <div class="gh-publishmenu-radio-content">
                    <div class="gh-publishmenu-radio-label">Programarlo para más tarde</div>
                    <GhDateTimePicker
                        @date={{@post.publishedAtBlogDate}}
                        @time={{@post.publishedAtBlogTime}}
                        @setDate={{this.setDate}}
                        @setTime={{this.setTime}}
                        @onDateError={{this.dateInputDidError}}
                        @onTimeError={{this.timeInputDidError}}
                        @setTypedDateError={{@setTypedDateError}}
                        @errors={{@post.errors}}
                        @dateErrorProperty="publishedAtBlogDate"
                        @timeErrorProperty="publishedAtBlogTime"
                        @minDate={{this._minDate}}
                        @isActive={{eq @saveType "schedule"}}
                    />
                    <div class="gh-publishmenu-radio-desc">{{#if @emailOnly}}Enviar correo electrónico en un momento específico{{else}}Establecer la fecha de publicación futura automática{{/if}}</div>
                </div>
            </div>
        </div>

        {{#if this.showEmailSection}}
            <div class="gh-publishmenu-section {{if @isSendingEmailLimited "no-border"}}" {{did-insert (perform this.countTotalMembersTask)}}>
                <div class="gh-publishmenu-email">
                    {{#if @isSendingEmailLimited}}
                        <p class="gh-box gh-box-alert">{{html-safe @sendingEmailLimitError}}</p>
                    {{else}}
                        <div class="gh-publishmenu-email-label">
                            <label class="gh-publishmenu-radio-label mb3">Enviar por email a</label>

                            {{#if this.disableEmailOption}}
                                <p class="gh-box gh-content-box">
                                    <LinkTo @route="members">
                                        Añade usuarios
                                    </LinkTo>
                                    para comenzar a enviar boletines!
                                </p>
                            {{else}}
                                <div class="form-group">
                                    {{#if (and (feature "multipleNewsletters") (gt @availableNewsletters.length 1))}}
                                        <div class="mb3">
                                            <p>Boletín</p>
                                            <PowerSelect
                                                @selected={{@selectedNewsletter}}
                                                @options={{@availableNewsletters}}
                                                @onChange={{@selectNewsletter}}
                                                @triggerComponent="gh-power-select/trigger"
                                                @renderInPlace={{true}}
                                                as |newsletter|
                                            >
                                                {{newsletter.name}}
                                            </PowerSelect>
                                        </div>
                                    {{/if}}

                                    <GhMembersRecipientSelect
                                        @filter={{@recipientsFilter}}
                                        @onChange={{@setSendEmailWhenPublished}}
                                    />
                                </div>
                            {{/if}}
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/if}}
    </section>
</div>