<div class="flex flex-column h-100 items-center overflow-auto" data-test-modal="update-flow">
    <header class="gh-publish-header">
        <button class="gh-btn-editor gh-publish-back-button" title="Close" type="button" {{on "click" @close}}>
            <span>{{svg-jar "arrow-left"}} Editor</span>
        </button>
        <div class="flex">
            {{#let @data.publishOptions.post as |post|}}
                {{#if (not (and post.isSent (not post.isPublished)))}}
                    <button class="gh-btn gh-btn-editor darkgrey gh-publish-trigger active" title="Close" type="button" {{on "click" @close}}>
                        <span>{{if post.isScheduled "Desprogramar" "Despublicar"}}</span>
                    </button>
                {{/if}}
            {{/let}}
            <div class="settings-menu-toggle-spacer"></div>
        </div>
    </header>

    {{#let @data.publishOptions.post as |post|}}
        <div class="gh-publish-settings-container gh-update-flow fade-in">
            <div class="gh-publish-title" data-test-update-flow-title>
                {{#if (and post.isSent (not post.isPublished))}}
                    Esta publicación fué
                    <span class="green">{{post.status}} por correo electrónico</span>
                {{else}}
                    Esta publicación ha sido
                    <span class="green">{{post.status}}</span>
                {{/if}}
            </div>

            <div class="gh-publish-confirmation" data-test-update-flow-confirmation>
                <p>
                    Tu
                    publicación

                    {{if post.isScheduled "será" "fué"}}

                    {{#if
                        (or post.isSent
                            (and post.isPublished post.email)
                            post.willEmail
                        )
                    }}
                        {{#if post.emailOnly}}
                            enviada a
                        {{else}}
                            publicada y enviada a
                        {{/if}}

                        {{#if post.isScheduled}}
                            {{#let (members-count-fetcher query=(hash filter=post.fullRecipientFilter)) as |countFetcher|}}
                                <strong>{{gh-pluralize countFetcher.count "subscriber"}}</strong>
                                {{#if this.showNewsletterName}}de <strong>{{post.newsletter.name}}</strong>{{/if}}
                            {{/let}}
                        {{else}}
                            <strong>{{gh-pluralize post.email.emailCount "subscriber"}}</strong>
                            {{#if this.showNewsletterName}}de <strong>{{post.newsletter.name}}</strong>{{/if}}
                        {{/if}}
                    {{else}}
                        publicada en tu sitio
                    {{/if}}

                    {{#let (moment-site-tz post.publishedAtUTC) as |publishedAt|}}
                        en
                        {{moment-format publishedAt "D MMM YYYY"}}
                        a
                        {{moment-format publishedAt "HH:mm"}}.
                    {{/let}}

                    {{#if post.isScheduled}}
                        {{#if (and post.isScheduled post.email)}}
                            Esta publicación fue enviada previamente por correo electrónico a

                            <strong>{{pluralize post.email.emailCount "subscriber"}}</strong>

                            {{#if this.showNewsletterName}}
                                de <strong>{{post.newsletter.name}}</strong>
                            {{/if}}

                            {{#let (moment-site-tz post.email.createdAtUTC) as |sentAt|}}
                                en
                                {{moment-format sentAt "D MMM YYYY"}}
                                a
                                {{moment-format sentAt "HH:mm"}}.
                            {{/let}}
                        {{/if}}

                        <br><br>
                        ¿Necesitas hacer un cambio?
                        <button
                            type="button"
                            class="gh-revert-to-draft"
                            {{on "click" (fn @close (hash afterTask="revertToDraftTask"))}}
                            data-test-button="revert-to-draft"
                        >
                            <span>Suprimir programación y convertir en borrador &rarr;</span>
                        </button>
                    {{else if (not post.emailOnly)}}
                        <br><br>
                        <button
                            type="button"
                            class="gh-revert-to-draft"
                            {{on "click" (fn @close (hash afterTask="revertToDraftTask"))}}
                            data-test-button="revert-to-draft"
                        >
                            <span>Retirar publicación y comvertir en borrador privado &rarr;</span>
                        </button>
                    {{/if}}
                </p>
            </div>
        </div>
    {{/let}}
</div>
